/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

header h1 {
  margin-bottom: 1rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#search-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

#searchInput {
  padding: 0.5rem;
  width: 50%;
  max-width: 600px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  display: none;
  width: 50%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown li {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.dropdown li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 80%; /* Limit grid width to 80% */
  margin: 2rem auto;
}

.book-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card img {
  width: 100%;
  height: auto;
  display: block;
}

.book-info {
  padding: 1rem;
}

.book-info h3 {
  font-size: 1.2rem;
  color: #333;
}

.book-info h4 {
  font-size: 1rem;
  color: #777;
}

.book-info p {
  font-size: 0.9rem;
  color: #555;
}

.book-info .review {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #333;
}

.book-info .rating {
  margin-top: 1rem;
  font-weight: bold;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.empty-message {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  padding: 2rem;
}

.sort {
  text-align: center;
  margin-bottom: 2rem;
}

.sort select {
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
}

.sort input[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sort input[type="submit"]:hover {
  background-color: #555;
}

/* Footer styling */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
